html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 64px;

    color: darkslategray;
}

#form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 16px;
}

#form div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

#sign-up {
    gap: 16px;
}