html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

#image-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex: 1;
}

h1 {
    font-size: 128px;
    text-align: center;
    background-color: rgba(118, 118, 118, 0.5);
    width: 100%;

    color: lightseagreen;
}

#sign-up  {
    flex: 1;
}

#form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 16px;
}

#inputs {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

#inputs div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

#sign-up {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#submit-button {
    background-color: lightseagreen;
    color: black;
}