html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0px;
    
    /* background-color: #1d2b3a;    */
}

#image-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex: 0.65;

}

h1 {
    font-size: 128px;
    text-align: center;
    background-color: rgba(118, 118, 118, 0.5);
    width: 100%;

    color: lightseagreen;
}

p {
    margin-left: 16px;
}

#sign-up  {
    flex: 1;
}

#form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 16px;
}

#inputs {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 16px;
    padding-bottom: 16px;

    background-color: gray;
}

#inputs div {
    height: 100%;
    width: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
    gap: 16px;
}

#inputs input, #inputs label {
    width: 100%;
    box-sizing: border-box;
}

#sign-up {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#submit-button {
    width: 225px;
    margin-left: 16px;

    background-color: lightseagreen;
    color: black;
}