html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0px;

    font-family: 'Montserrat', sans-serif;

    
    background-color: lightyellow;   
}

#image-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex: 0.65;

}

h1 {
    font-size: 96px;
    text-align: center;
    background-color: rgba(250, 128, 114, 0.5);
    width: 100%;

    color: black;
}

p {
    margin: 0px;
    margin-left: 16px;
    padding: 0px;
}

#sign-up  {
    flex: 1;
}

#form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 16px;
}

#inputs {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 16px;
    padding-bottom: 16px;

    background-color: lightsalmon;
}

.input-field {
    max-width: 190px;
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
}

.input-field:focus {
    box-shadow: 5.5px 7px 0 black;
}

.input-field:invalid {
    border: 3px solid red;
    box-shadow: 5.5px 7px 0 darkred;
}

#inputs div {
    height: 100%;
    width: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

#inputs div input {
    margin-bottom: 16px;
}

#inputs input, #inputs label {
    width: 100%;
    box-sizing: border-box;
}

#sign-up {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#create-account-button {
    width: 225px;
    margin-left: 16px;
}

#create-account-button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
        to left,
        rgb(132, 67, 60) 0%,
        salmon 8%,
        salmon 92%,
        rgb(132, 67, 60) 100%
    );
}

.front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: lightsalmon;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
}

#create-account-button:hover {
    filter: brightness(110%);
}

#create-account-button:hover .front {
    transform: translateY(-6px);
    transition: transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
}

#create-account-button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

#create-account-button:hover .shadow {
    transform: translateY(4px);
    transition: transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
}

#create-account-button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

#create-account-button:focus:not(:focus-visible) {
    outline: none;
}